* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

main {
  flex-grow: 1;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #333;
  line-height: 2;
}

h1 {
  font-family: "Alegreya Sans", sans-serif;
  margin: 0;
  font-weight: 400;
}

nav ul {
  list-style-type: none;
  padding: 0;
  font-family: "Antic Slab", serif;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.mosaic {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 10px; /* Small base row height for better control */
  gap: 10px;
  grid-auto-flow: dense; /* Efficiently fills gaps */
}

.item {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Set a fallback behavior */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item.horizontal {
  grid-row: span 12; /* Use a consistent span for all horizontal images */
}

.item.vertical {
  grid-row: span 18; /* Use a consistent span for all vertical images */
}

.item img:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  font-size: 16px;
  font-family: "Alegreya Sans", sans-serif;
  padding: 20px;
  background-color: #fff;
  color: #333;
  position: relative;
  bottom: 0;
  flex-shrink: 0;
}

/* Styles for the About page */
.about-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px 0;
}

.about-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.about-item.reverse {
  grid-template-columns: 1fr 1fr;
  direction: rtl;
}

.about-img {
  width: 90%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  max-height: 350px;
}

.text-blur {
  position: relative;
  padding: 20px;
  font-size: 1.1em;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.left-blur {
  text-align: left;
}

.right-blur {
  text-align: right;
  direction: ltr;
}

