* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.5;
  padding: 20px;
}

main {
  flex-grow: 1;
  padding: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  color: #333;
  line-height: 1.5;
}

h1 {
  font-family: "Alegreya Sans", sans-serif;
  margin: 0;
  font-weight: 400;
}

nav ul {
  list-style-type: none;
  padding: 0;
  font-family: "Alegreya Sans", sans-serif;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  margin-top: 100px; /* adds space between the header and content */
}

.mosaic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.item.horizontal {
  object-fit: contain;
  align-self: center;
  grid-row: span 2;
}

.item.vertical {
  object-fit: cover;
  align-self: center;
  grid-row: span 4;
}

.item:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  font-size: 1rem;
  font-family: "Alegreya Sans", sans-serif;
  padding: 20px;
  background-color: #fff;
  color: #333;
  position: relative;
  bottom: 0;
  flex-shrink: 0;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Styles for the About page */
.about-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px 0;
}

.about-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.about-item.reverse {
  grid-template-columns: 1fr 1fr;
  direction: rtl;
}

.about-img {
  width: 90%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  max-height: 350px;
}

.text-box {
  position: relative;
  padding: 20px;
  font-size: 1.1em;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.photo {
  width: 100% !important;
  height: auto !important;
  max-width: 500px !important;
}

.about-item {
  grid-template-columns: 1fr;
}

.about-item.reverse {
  direction: ltr;
  grid-template-columns: 1fr;
}

.about-img {
  width: 100%;
  max-height: none;
}

.text-box {
  padding: 10px;
  font-size: 1em;
}

/* contact page styles */

.contact-page {
  background-image: url('../images/amber-jeff-wedding-bands.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-section {
  background-color: rgba(255, 255, 255, 0.9);  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  margin: 0 auto;
  margin-top: 20px;
}

.contact-container {
  display: flex;
  gap: 60px;
}

.contact-info {
  width: 30%;
  text-align: left;
}

.profile-photo {
  width: 100%;
  max-width: 200px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.email-link {
  display: inline-block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
  word-break: break-all;
  cursor: pointer;
}

.contact-form {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.contact-form fieldset label {
  cursor: pointer;
}


.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  padding: 8px; /* Adds space inside the input fields */
  cursor: pointer;
}

.contact-form input[type="tel"] {
  margin-bottom: 20px; /* Adjust the value to increase/decrease spacing */
}


.contact-form label {
  margin-top: 10px;
}

.checkbox-heading {
  margin-left: 5px;
  margin-bottom: 10px;
}

.radio-group label,
.contact-form fieldset label {
  display: block;
  margin-bottom: 10px;
  padding-left: 5px;
}

.contact-form button {
  padding: 10px 20px; /* Adds space inside the button */
  background-color: #333; /* Dark color for contrast */
  color: #fff; /* White text color for readability */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
  font-weight: bold; /* Make text stand out */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.contact-form button:hover {
  background-color: #555; /* Lighter shade on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect on hover */
}


/* Media queries for smaller screens */

@media (max-width: 768px) {
  .about-section {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .photo {
    max-width: 100%;
    height: auto;
  }
  .contact-container {
    flex-direction: column;
    align-items: center; /* Center the form and image */
  }

  .contact-info, 
  .contact-form {
    width: 100%; /* Make both sections full width */
    text-align: center; /* Optional: Center text on smaller screens */
  }
}

@media (max-width: 600px) {
  .mosaic {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .item {
    padding: 5px;
    transform: none;
  }

  .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
