* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Antic Slab", serif;
  background-color: #f4f4f4;
  line-height: 1.5;
}

main {
  flex-grow: 1;
  margin-top: 100px;
  padding: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 10px;
  text-align: center;
  /* background-color: #fff; */
  background: rgba(255, 255, 255, 0.8);

  color: #333;
  line-height: 1.5;
  margin-bottom: 24px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

}

h1,
h2 {
  font-family: "Alegreya Sans", sans-serif;
  margin: 0;
  font-weight: 400;
}

nav ul {
  list-style-type: none;
  padding: 0;
  font-family: "Alegreya Sans", sans-serif;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.mosaic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 160px;  */
  gap: 10px;
}

.item {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  /* gap: 10px; */
  padding: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.item.horizontal {
  object-fit: contain; 
  align-self: center;
  grid-row: span 2;
}

.item.vertical {
  object-fit: cover;
  align-self: center;
  grid-row: span 4;
}

.item:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

footer {
  text-align: center;
  font-size: small;
  line-height: .9;
  font-family: "Alegreya Sans", sans-serif;
  padding: 20px;
  background-color: #fff;
  color: #333;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.8);

}
footer p {
  margin: 0;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer-nav li:not(:last-child)::after {
  content: "|";
  margin-left: 1.25rem;
}



/* Styles for the About page */
body.about-page {
  background-image: url("../images/amber-jeff-wedding2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
}

.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  }

.first-section {
  display: flex;
  align-items: center;
  gap: 30px; 
  margin-bottom: 30px; 
}

.first-section .about-me-photo {
  width: 250px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  /* box-shadow:  10px 10px 20px #b3b3b3,  -10px -10px 20px #ffffff; */
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.about-me-photo:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.first-section .text-box {
  max-width: 55%; 
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 20px;
  margin: 30px;
  /* box-shadow: 10px 10px 20px #b3b3b3,  -10px -10px 20px #ffffff; */

}
.second-section {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  flex-direction: row; 
}
.second-section .about-headshot-photo {
  width: 350px;
  border-radius: 5px;
  margin-left: 100px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}
.about-headshot-photo:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.second-section .text-box {
  width: 70%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  text-align: right;
  /* box-shadow:  10px 10px 20px #b3b3b3,  -10px -10px 20px #ffffff; */

}

.third-section {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.third-section .text-box {
  max-width: 55%; /* Adjust as needed */
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  /* box-shadow:  10px 10px 20px #b3b3b3,  -10px -10px 20px #ffffff; */

}

/* contact page styles */
body.contact-page {
  background-image: url("../images/amber-jeff-wedding-bands.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);

}

.contact-section {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  margin: 20px auto;
}
.contact-container {
  display: flex;
  gap: 40px;
}
.contact-info {
  width: 30%;
  text-align: left;
  padding-left: 20px;
}
.contact-me {
  padding-left: 20px;
}
.profile-photo {
  max-width: 100%;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}
.profile-photo:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
/* .email-link {
  display: inline-block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
  word-break: break-all;
  cursor: pointer;
} */
.contact-form {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.contact-form fieldset label {
  cursor: pointer;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  padding: 8px; /* Adds space inside the input fields */
  cursor: pointer;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.contact-form input[type="text"]:hover,
.contact-form input[type="email"]:hover,
.contact-form input[type="tel"]:hover,
.contact-form textarea:hover {
  outline: 1.5px solid #5a9a6a;
  box-shadow: 0 0 5px rgba(90, 154, 106, 0.3);
}
.contact-form input[type="date"],
.contact-form select {
  max-width: 100%;
  min-width: 250px;
  width: 100%;
  transition: outline 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.contact-form input[type="date"]:hover,
.contact-form select:hover {
  outline: 2px solid #5a9a6a;
  box-shadow: 0 0 5px rgba(90, 154, 106, 0.3);
}
.contact-form input:not([type="checkbox"]), /* :not prevents the checkboxes from effects of padding on other elements */
.contact-form select,
.contact-form textarea {
  height: 40px;
}
.contact-form input[type="tel"] {
  margin-bottom: 20px;
}

input[type="radio"] {
  width: auto;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  vertical-align: middle;
}
.contact-method-radio {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  padding: 0 10px;
  gap: 15px;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.contact-method-radio label {
  margin-right: 1.6rem;
  color: #3d3d3d;
}
.contact-method-radio:hover {
  border-color: #5a9a6a;
  box-shadow: 0 0 5px rgba(9, 154, 106, 0.3);
}
.contact-form fieldset {
  margin-bottom: 20px;
}
.checkbox-fieldset {
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.checkbox-fieldset:hover {
  border-color: #5a9a6a;
  box-shadow: 0 0 5px rgba(90, 154, 106, 0.3);
}
.contact-form textarea {
  margin-bottom: 10px; /* Adds space below the textarea */
}
.contact-form p {
  margin-bottom: 5px;
}
.contact-form fieldset label {
  display: block;
  margin-bottom: 15px !important;
}
.checkbox-heading {
  margin-left: 5px;
  margin-bottom: 10px;
}
#specific-date {
  margin-bottom: 10px;
}

#general-timeframe {
  margin-bottom: 25px;
}

.radio-group label,
.contact-form fieldset label {
  display: block;
  margin-bottom: 10px;
  padding-left: 5px;
}

.contact-form button.submit-button {
  padding: 12px;
  background-color: #5a9a6a;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s;
  box-shadow: 0 0 0 -0.4em hsl(0, 0%, 100%),
    0 0 0 -0.6em rgba(13, 109, 253, 0.7); /* Initial shadow */
}

.contact-form button.submit-button:hover {
  background-color: #3a8450;
  box-shadow: 0 0 0 0.3em hsl(0, 0%, 100%), 0 0 0 0.5em rgba(13, 109, 253, 0.7); /* Hover shadow */
  opacity: 0.7;
}

.contact-form button.submit-button:focus-visible {
  box-shadow: 0 0 0 0.3em hsl(0, 0%, 100%), 0 0 0 0.5em rgba(13, 109, 253, 0.7);
}

.contact-form button.submit-button:focus {
  outline: none;
}

/* .quote {
  display: inline-block;
  padding-bottom: 0;
} */

@font-face {
  font-family: "Scriptina";
  src: url("../fonts/scriptina.ttf") format("truetype");
}

.signature {
  font-family: "Scriptina", cursive;
  font-size: 2rem;
  margin-top: -15px;
  text-align: right;
  line-height: 1;
}

/* Media queries for smaller screens */

/* Media queries for smaller screens */

@media (max-width: 768px) {
  .about-section {
    gap: 30px;
  }
  .about-img {
    max-width: 100%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: auto;
    width: 90%;
    max-width: 400px;
  }
  .contact-info,
  .contact-form {
    width: 100%;
    text-align: left;
  }
  .contact-form fieldset label {
    display: block;
    margin-bottom: 20px;
  }
}
.contact-image {
  max-width: 100%; /* Prevents the image from exceeding the width of its container */
  width: auto;
  height: auto; /* Maintains aspect ratio */
  max-height: 300px;
  object-fit: contain;
}

@media (max-width: 600px) {
  .mosaic {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .item {
    padding: 5px;
    transform: none;
  }

  .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}